* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
    
}

.container {
    width: 60%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    
    
  
}

header {
    background-color: #3409090B;
    padding: 20px 0;
    color: white;
   
}

header h1 {
    display: inline;
    margin: 0;
    color: blue;
}

header nav {
    float: right;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

.banner {

    color: white;
    text-align: center;
    padding: 100px 0;
  
}


.banner p h3 {
    font-size: 1.2rem;
     transform: translate(-10px);
    position: absolute;

}

.anime-list {
    padding: 50px 0;
    background-color: #fff;
   
   
}



.anime-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
   
   
}


.anime-cards img {
    width: 15%;
    height: auto;
    
    
   
}


footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button-style{
text-align: center;

}

